# VSCode uporabniške nastavitve
.vscode/

# LaTeX
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.toc
*.fls
*.log
*.out
*.pdf
*.pyc
*.synctex.gz

# MacOS
__MACOSX
.DS_Store

# Windows
thumbs.db

# Python
__pycache__
