h1 {
    color: #330066
}
h2 {
    margin-top: 2em;
    border-top-width: 1px;
    border-top-color: #AAAAAA;
    border-top-style: solid;
    padding-top: 0.5em;
}
#uvod {
    padding: 2em;
    background-color: rgb(51, 0, 102, 0.1);
}
.slika {
    text-size-adjust: 0.9em;
    width: 40%;
    text-align: left;
    float: right;
    margin-left: 2em;
}
.slika img {
    width: 100%;
    height: auto;
}
.slika p:last-child {
    font-size: 0.8em;
    border-radius: 50%;
}
a::before {
    content: '游댕';
}
body {
    /*  Barva pisave pod zna캜ko oz. oznako  */
    color: #333333; 
    /*  Dolo캜anje pisave: brskalnik uporabi prvo v seznamu pisav, ki jo ima uporabnik name코캜eno.
       캛e ni name코캜ena nobena od na코tetih pisav, se uporabi privzeta pisava brskalnika. */
    font-family: Garamond, "Hoefler Text", "Times New Roman", Times, serif;
    /*  Velikost pisave lahko dolo캜imo na ve캜 na캜inov.
        Spodnji jo dolo캜i glede na velikost pisave v zna캜ki, ki je na enem nivoju vi코je;
        캜e velikost pisave na zgornjem nivoju ni dolo캜ena, se dolo캜i glede na privzeto velikost pisave v brskalniku. */
    font-size: 1.2em;
    /*  Vi코ina vrstice  */
    line-height: 1.5;
    /*  Najve캜ja 코irina vsebine spletne strani  */
    max-width: 40em;
    /*  말rina zunanjega roba; auto pomeni, da rob izra캜una brskalnik tako, da element zavzame 코irino dolo캜eno v slogu,
        preostanek pa se enakomerno razdeli med levim in desnim robom  */
    margin: auto;
    /*  Obojestranska poravnava besedila    */
    text-align: justify;
}

/*  Odstranimo pod캜rtovanje povezav in outline (ta se v캜asih poka쬰 kot kvadratek okrog povezave)  */
a { text-decoration: none; outline:none; }
/*  Spremenimo barve povezav: neobiskanih, obiskanih, pod mi코ko in aktivnih */
a:link { color:#cc0000; }
a:visited { color:#660066; }
a:hover { color:#660066; }
a:active { color:#990000; outline:none; }

code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #009966;
}
